@media (min-width: 768px) and (max-width: 944px) {
	.container{
		width: 740px;
	}

	.logo img {
		width: 85%;
	}
	.logo{
		width: 35%;
	}

	.logo-wrap {
		width: 70%;
	}
	.right-head-block{
		padding-right: 0;
		width: 30%;
	}
	.logo-quote{
		padding: 8px 5px 5px 0;
	}
	.right-head-block li{
		margin-left: 10px;
	}
	.main-nav li a{
		padding: 0 7px;
		font-size: 15px;
	}

	.main-nav li:first-child a {
		padding: 0 7px;
	}

	.left-block-content {
		float: left;
		width: 418px;
	}
    .left-block-content1 {
		float: left;
		width: 418px;
	}

	.map > img {
		width: 100%;
	}
	.post-block-wrap .post-block{
		width: 130px;
	}
	.post-block .content-post{
		min-height: 315px;
	}
	.main-nav > ul {
		margin: 20px 5px;
		padding-left: 0;
	}

	.destination-point > img {
		height: 300px;
		width: 100%;
	}
	.search-list .search-form {
		background: none repeat scroll 0 0 #F5F5F5;
		height: 64px;
		left: -193px;
		padding: 17px;
		position: absolute;
		width: 245px;
	}
	.right-content {
		width: 355px;
	}

	.img-wrap > img {
		width: 100%;
	}
	.request img {
    display: block;
    width: 100%;
}

.destination-img > img {
    width: 100%;
}

.thumb > img {
    width: 100%;
}

.destination-content {
    width: 150px;
}
.destination-img-block {
    display: block;
    float: none;
    text-align: center;
}
.destination-content {
    width: 100%;
}
.resource-pdf-link{
	width: 160px;
}
.news-banner > img {
    width: 100%;
}

.news .img-block{
    margin-left: 8px;
    width: 27.7%;
}

.img-block > img {
    width: 100%;
}
.news .img-wrap {
    margin-left: 15px;
    margin-top: -38px;
 }
 .additonal textarea {
    width: 360px;
}

.choose-deastnation select {
    text-indent: 0px;
}
.right-content.cruise-international-content.clearfix {
    padding-right: 0;
    width: 408px;
}
.right-content.why-cruise-content.news.clearfix, .right-content.why-cruise-content.clearfix, .right-content.why-cruise-content.request-porposal.clearfix, .right-content.why-cruise-content.resource-center.clearfix {
    padding-right: 0;
    width: 408px;
}
.name-block > div {
    display: block;
    float: none;
}

.request-proposal-form .name-block > div:last-child label, .select div:last-child label {
    margin-left: 0;
    margin-top: 10px;
    width: 140px;
}

.company input {
    width: 130px;
}

}

@media (max-width: 767px) {
	.container {
		padding-left: 2%;
		padding-right: 2%;
		width: 96%;
	}

	.logo {
		float: none;
		text-align: center;
		padding-left: 0;
	}


	.logo-wrap {
		width: 100%;
	}

	.logo-quote {
		border-right: medium none;
		float: none;
		margin-bottom: 15px;
		margin-top: 15px;
		text-align: center;
	}
	.right-head-block li {
		float: none;
		margin-left: 0;
		text-align: center;
	}
	.right-head-block {
		float: none;
		padding-right: 0;
		width: 100%;
	}

	.right-head-block ul {
		padding-left: 0;
	}
	.left-block-content {
		width: 100%;
		margin-top: 20px;
	}
    .left-block-content1 {
		width: 100%;
		margin-top: 20px;
	}

	.map > img {
		margin: 0 auto;
		text-align: center;
		width: 100%;
	}

	.map {
		padding: 0;
	}

	.post-block-wrap .post-block {
		float: none;
		width: 100%;
	}
	.post-block .content-post {
		min-height: auto;
	}

	.post-block-wrap .post-block:nth-of-type(2) {
		margin: 20px 0;
	}
	.post-block-wrap {
		margin-bottom: 25px;
	}

	.sidebar {
		text-align: center;
		margin: 0 auto;
		width: 100%;
	}

	.lates-news-wrap {
		margin: 0 auto;
		width: 100;
		background: none repeat scroll 0 0 #41B7B0;
	}

	.cruse-search-wrap {
		margin: 0 auto;
		text-align: start;
		width: 100%;
	}

	.book-event-block {
		margin-bottom: 12px;
	}
	.main-nav li {
		border-bottom: 1px solid #00577B;
		float: none;
		text-align: center;
	}
	.main-nav li:first-child a, .main-nav li a {
		padding: 0;
	}
	.toggle-menu {
		cursor: pointer;
		display: block;
		position: absolute;
		right: 0;
	}

	.main-nav {
		position: relative;
	}
	#colophon li {
		display: block;

	}

	.destination-point > img {
		margin: 0 auto;
		width: 100%;
	}

	.search-list .search-form {
		background: none repeat scroll 0 0 #F5F5F5;
		height: 64px;
		left: 17%;
		padding: 17px;
		position: absolute;
		z-index: 9;
	}

	.destination-point > img {
		height: 300px;
		margin: 0 auto;
		width: 100%;
	}
	.main-nav > ul {
		display: none;
	}
	.slicknav_menu{
		display: block;
	}
	.slicknav_menu {
		background: none repeat scroll 0 0 #1A4C89 !important;
		padding: 5px;
	}

	.slicknav_nav a {
		color: #FFFFFF;
		margin: 2px 5px;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase !important;
	}
	.slicknav_nav li{
		border-bottom: 1px solid #6999C1;
	}

	.news-list > li {
		text-align: left;
	}
	.left-sidebar.why-cruise-sidebar, #mains .left-sidebar{
		margin: 0 auto;
		float: none;
		position: static;
	}
	.right-content, .right-content.why-cruise-content.resource-center.clearfix, .right-content.why-cruise-content.clearfix {
		float: none;
		margin-top: 30px;
		padding-right: 0;
		width: 100%;
	}

	.img-block {
		float: none;
		margin-left: 0;
	}

	.img-block > img {
		width: 100%;
	}
	.request img {
    display: block;
    width: 100%;
}

.csi.left-block-content img {
    width: 100%;
}

.destination-content {
    float: none;
    width: 100%;
}

.destination-img-block {
    display: block;
    float: none;
    text-align: center;
}
.resource-pdf-link{
	width: 48%;
}
.img-wrap {
    margin-left: 0;
    width: 100%;
}

.news-banner > img {
    width: 100%;
}

.news .img-block {
    float: left;
    margin-left: 10px;
    width: 28.5%;
}
.news .img-wrap {
    margin-left: 12px;
    margin-top: -52px;
}
.request-proposal-form .name-block > div:last-child label, .select div:last-child label {
    display: inline;
    margin-left: 0;
    width: 100%;
}
.name-block > div {
    float: none;
}

.request-proposal-form label {
    display: block;
    width: 100%;
}

.request-proposal-form .name-block > div input, .company input, .additonal textarea {
    padding-left: 1%;
    padding-right: 1%;
    width: 98%;
}

.select div {
    float: none;
}
.select select, .right-content.why-cruise-content.request-porposal.clearfix {
    width: 100%;
}

.choose-deastnation select {
    width: 100%;
    text-indent: 0px;
}
.right-content.cruise-international-content.clearfix {
    width: 100%;
}
.right-content.why-cruise-content.news.clearfix {
    width: 100%;
}

.news .img-block {
    float: left;
    margin-left: 20px;
    width: 28.4%;
}
.numb-info {
    float: none;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}
.submit-quote {
    text-align: center;
}

}
@media (max-width: 480px) {
	.left-sidebar.why-cruise-sidebar {
		margin-top: 20px;
		padding: 0;
		width: 100%;
	}

	.call-us-wrap.left-content-block > img {
		width: 100%;
	}

	.csi.left-block-content img {
		width: 100%;
	}
    .csi.left-block-content1 img {
		width: 100%;
	}
	.siderbar-title{
		margin-left: 0;
		width: 100%;
	}
	.parent-list > a{
		text-align: center;
	}
	.request img {
    display: block;
    width: 100%;
}

.img-wrap > img {
    width: 100%;
}
.img-wrap {
    width: 100%;
}

.resource-pdf-link {
    float: none;
    margin-left: 0;
    width: 100%;
}

.news-banner {
    margin-top: 15px;
}

.news .img-block {
    float: left;
    margin-left: 10px;
    width: 28.4%;
}
}


@media (max-width: 320px) {
.news .img-block {
    float: left;
    margin-left: 10px;
    width: 26%;
}
.news .img-wrap {
    margin-left: 12px;
    margin-top: -30px;
}
}